<h1 class="text-center">About</h1>
<h5 class="text-center" style="margin-top: 40px; margin-bottom: 20px;">
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリデーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください
</h5>

<div class="text-center">
  <%= image_tag 'about.png', class: 'img-fluid', style: 'width: 600px; height: auto;' %>
</div>
