<div class='container'>
  <div class='row'>
    <div class="col-md-9 px-0 mx-auto">
      <div class='title_border text-center pt-1 pb-1 mt-5 mb-4'>
        <h3 class="mb-0">About</h3>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class="col-md-9 bg-white p-5 mx-auto rounded-lg">
      <h5 class="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリデーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください
      </h5>
    </div>
  </div>
</div>

<div class="text-center m-2">
  <%= image_tag 'about.png', class: 'img-fluid', style: 'width: 600px; height: auto;' %>
</div>
