<div class='container'>
  <div class='row'>
    <div class="col-md-9 px-0 mx-auto">
      <div class='title_border text-center pt-1 pb-1 mt-5 mb-4'>
        <h3 class="mb-0">会員一覧</h3>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class="col-md-9 bg-white p-5 mx-auto rounded-lg">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.family_name + " " + customer.last_name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_active == false %>
                  <span class="text-muted font-weight-bold">無効</span>
                <% else %>
                  <span class="text-success font-weight-bold">有効</span>
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>

      <div class='row'>
        <div class="col-md-3 px-0 mx-auto">
          <%= paginate @customers %>
        </div>
      </div>

    </div>
  </div>
</div>