<h3 class = "m-3">ジャンル編集</h3>

<%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>

  <td><%= f.label :"ジャンル名", class: "m-3" %></td>
  <td><%= f.text_field :name, class: "m-3" %></td>
  <td><%= f.submit "変更を保存", class: "btn btn-success m-3" %></td>
  
<% end %>
