<div class="thanks mt-5"></div>
<div class='container'>
  <div class='row'>
    <div class="col-md-10 px-0 mx-auto">
      <div class='text-center'>
        <h2 class="mb-0">ご注文ありがとうございました！</h2>
      </div>
    </div>
  </div>
</div>